 /* body{   
   
    background-image: url(../CM\ image.jpeg); 
    background-repeat: no-repeat; 
    background-size:cover;
    background-attachment: scroll;
    border: 5px solid black;
    height: 2000px;
    width: 1250px;
    box-sizing: border-box;
    outline: 10px dashed rgb(6, 240, 68);
}  */

    /* /* External Selector */
 p{ 
    color: yellow;
    background-color: violet;
} 

     /* Universal Selector */
*{ 
    color: teal;
    background-color: tan;
 }

       /* Id Selector */
   #inter{  
    color: springgreen;
   } 

      /* Class Selector */
  .inner h2,h4{ 
    color: violet;
  }


      /* Descendent Sector */
  #one > h1{ 
    color: tomato;
   }

  

            /* Color */
  /* p{ 
    color: red;
    color: #ffffff;
    color: rgb(30, 222, 119);
    color: rgba(45, 142, 240, 0.9);
    color: hsl(299, 90%, 35%);
    color: hsla(15,100%,70%,0.7);
   } 

        /* Back Groumd Color */
    /* *{ 
    background-color: rgb(255, 255, 1);
   }  */


          /* Back Grond Image */
   /* *{ 
    background-image: url(../khaki_casual_shirt_500x.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    } 
 */ 